header .colorlib-navbar-brand .colorlib-logo img {
    width: 120px;
}

.rtl{
    direction: rtl;
}
html:lang(en-US) .rtl{
    direction: ltr;
}
.home header {
    background: transparent;
}

.page-id-16 header, .page-id-174 header {
    background: transparent;
}

.home-wrap{
  background: #F64440;
  position: relative;
}

#colophon {
    width: 100%;
    text-align: center;
}


.page-id-16 #colophon, .page-id-174 #colophon{
    position: absolute;
    bottom: 30px;
    
}

.home #colophon {
    padding-bottom: 20px;
    padding-top: 20px;
    position: absolute;
    bottom: 0;
    background: #f64440;
	display: block
}

.close_button {height: 68px; position:relative}
#colorlib-main-nav .colorlib-nav-toggle.active{visibility: visible; opacity:1;right:30px}
#colorlib-main-nav .colorlib-table-cell{margin-top: 50px}
#colorlib-main-nav{width:50vw;}

.footer-nav {
    
}

.footer-nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    width: 100%;
    text-align: center;
}

.footer-nav ul li {
    display: inline-flex;
    flex-basis: 25%;
    justify-content: center;
    
}

.footer-nav ul li a {
    color: #000;
    outline: none;
    transition: all 0.5s;
}

.footer-nav ul li a:hover {
    color: #222;
    text-decoration: underline;
}
#content {
    padding-top: 92px;
}
.page-template-project #content {
    padding-top: 84px;
}

.home #content {
    padding-top: 0;
}
.header_menu {padding-left: 15px; padding-right: 15px}

.page-id-16 #content, .page-id-174 #content {
    padding-top: 0;
}


.about-hover{
    cursor: pointer;
}

.about-hover .elementor-image-box-description {
    display: none;
    transition: all 1s;
}

.about-hover:hover .elementor-image-box-description {
    display: block;
    margin-bottom: 30px;
}

/********* Project****************/
.project-filter span#show-filter {
    color: #f64440 !important;
    font-size: 18px;
    text-decoration: none;
    padding: 0px 5px;
}

.project-container {
    padding-top: 50px;
    padding-bottom: 100px;
    background: #ebebeb;
}



.project-grid h2 a {
    padding: 5px 0px;
    font-size: 16px;
    color: #000;
    text-align: right;
    display: block;
    outline: none;

}
html:lang(en-US) .project-grid h2 a{
    text-align: left;
}

.project-grid h2 a:hover {
    color: #000;
}

.project-grid {
    padding-bottom: 15px;
}


.project-detail-container {
    padding-top: 50px;
    padding-bottom: 100px;
    background: #ebebeb;
}

.project-detail .project-image img {
    width: 100%;
}


.project-header {
    text-align: right;
        padding-bottom: 50px;
}
html:lang(en-US) .project-header{
    text-align: left;
}

.project-image img {
    width: 100%;
}

.project-category a {
    color: #000;
    padding-left: 77px;
    outline: none;
    display: inline-block;
    vertical-align: top;
}

.project-category a:hover {
    color: #000;
}

.project-category {
    margin-top: 20px;
}

.project-filter span {
    text-decoration: underline;
    color: #000;
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.project-header h2 {
    margin-bottom: 15px;
}

.project-filter span::after {
    content: "";
    background: url("/wp-content/uploads/2019/09/arrow-down.png");
    width: 10px;
    height: 6px;
    display: inline-block;
    background-size: contain;
    position: absolute;
    top: 10px;
    left: -15px;
    
}
html:lang(en-US) .project-filter span::after {
    left: 77px;
}

.project-category{
    display: none;
    border-bottom: 1px solid #0000000f;
    padding-bottom: 20px;
}


.project-category a:hover, .project-category a:active, .project-category a:focus {
    outline: none!important;
}

.project-category a:visited{
    color: #000!important;
}

.project-category a {
    /* display: none; */
    display: inline-block;
    float: left;
}
.project-category a:first-child {
    display: block;
}

.project-nav {
    padding-top: 30px;
}

.project-nav .nav-previous a {
    color: #000;
    font-size: 14px;
    outline: none;
}

.project-nav .nav-next a {
    color: #000;
    font-size: 14px;
    outline: none;
}

.nav-previous a:after {
    content: "";
    background: url("/wp-content/uploads/2019/09/arrow-left.png");
    width: 25px;
    height: 13px;
    display: inline-block;
    background-size: cover;
    margin-right: 10px;
    transition: all 0.5s;
    vertical-align: middle;
    
}

.nav-next a:before {
    content: "";
    background: url("/wp-content/uploads/2019/09/arrow-right.png");
    width: 26px;
    height: 13px;
    display: inline-block;
    background-size: cover;
    margin-left: 10px;
    transition: all 0.5s;
    vertical-align: middle;
    
}


.nav-previous a:hover {
    margin-left: 15px;
}

.nav-next a:hover {
    margin-right: 15px;
}



.project-nav .navigation.post-navigation {
    padding-top: 20px;
    border-top: 1px solid #d6d6d6;
        margin-top: 100px;
}



.project-image:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-top: 15px solid #ebebeb;
    border-left: 15px solid transparent;
    width: 0;
}

.project-image {
    position: relative;
}

.project-image:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 15px solid #ebebeb;
    border-right: 15px solid transparent;
    width: 0;
}

.project-image a:after {
    background: #d21d19bf;
    content: "";
    display: block;
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: all 0.5s;
}

.project-image a:hover:after {
    opacity: 1;
}

.wpcf7 form.sent .wpcf7-response-output {
    border-color: #46b450;
    color: #fff;
}



.page-template-project span.close.cursor.close-popup font {
    color: #fff;
    font-size: 35px;
}

/************** Post**************************/



.single-post-container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.single-post-container .container{
    max-width: 992px;
}

.single-post-container article {
    border-bottom: 0;
    padding-bottom: 20px;
    padding-top: 20px;
}

.single-post-container article .row {
    align-items: center;
}

.single-post-content h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
}


.single-post-content h2 a {
    color: #000;
    outline: none;
}

.single-post-content h2 a:hover {
    color: #222;
}
.single-post-content p {
    color: #000;
    font-size: 15px;
}

.single-post-image img {
    width: 100%;
}

.single-post-image {
    position: relative;
}

.single-post-container article .single-post-image::after {
    content: "";
    background: #d21d19bf;
    z-index: 999;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 0.5s;
    opacity: 0;
}
.single-post-container article.single-post-image:hover {
    opacity: 1;
}

.single-post-content p a {
    color: #000;
    font-size: 14px;
    text-decoration: underline;
    outline: none;
}
.single-post-container article:last-child {
    border-bottom: none;
}


.single-post-container article .row {
    align-items: center;
}

.single-post-detail-content h2 {
    font-size: 20px;
    font-weight: 600;
        line-height: 1.4;
        margin-bottom: 30px;
}

.single-post-detail-content h2 a {
    color: #000;
    outline: none;
}

.single-post-detail-content p {
    color: #000;
    font-size: 15px;
}

.single-post-detail-image img {
    width: 100%;
}



.single-post-detail-image {
    margin-bottom: 20px;
}

.entry-meta {
    font-size: 12px;
    color: #000;
    margin-bottom: 30px;
}

.entry-meta a {
   color: #000!important;
}

.single-post-detail-content p {
    font-size: 14px;
}

.single-post-container p {
    font-size: 14px;
    color: #000;
}

.single-post-container p a {
    color: #000;
    text-decoration: underline;
}

.single-post-container p a:hover {
    text-decoration: none;
}



.single-post-container .nav-previous a {
    color: #000!important;
    font-size: 14px;
    outline: none;
}

.single-post-container .nav-next a {
    color: #000!important;
    font-size: 14px;
    outline: none;
}

.single-post-container .nav-previous a:after {
    content: "";
    background: url("/wp-content/uploads/2019/09/arrow-left.png");
    width: 25px;
    height: 13px;
    display: inline-block;
    background-size: cover;
    margin-right: 10px;
    transition: all 0.5s;
    vertical-align: middle;
    
}

.single-post-container .nav-next a:before {
    content: "";
    background: url("/wp-content/uploads/2019/09/arrow-right.png");
    width: 26px;
    height: 13px;
    display: inline-block;
    background-size: cover;
    margin-left: 10px;
    transition: all 0.5s;
    vertical-align: middle;
    
}

.single-post-container .nav-previous a:hover {
    margin-left: 15px;
}

.single-post-container .nav-next a:hover {
    margin-right: 15px;
}
.single-post-container .navigation.post-navigation {
    padding-top: 20px;
    border-top: 1px solid #d6d6d6;
        margin-top: 100px;
}

.project-category ul li a:hover, .project-category li.active a, .project-category li.active a:hover {
    background: #f64440 !important;
    
}
.project-category ul li a {
    background: transparent;
    color: #000 !important;
    font-size: 16px;
    font-weight: 600;
   /* border: 2px solid #000;*/
    text-transform: capitalize;
    border-radius: 0 !important;
}
.project-filter .project-category {
    border-bottom: 1px solid #000000;
}
.project-category ul.nav.nav-tabs {
    border-bottom: none !important;
}


.modal-content button.next {
    position: absolute;
    top: 50%;
    right: -45px;
}

.modal-content button.prev {
    position: absolute;
    top: 50%;
    left: -45px;
}
.modal-content button.prev, .modal-content button.next {
    background: #fff;
    border: 0;
    border-radius: 25px;
    color: #000;
    min-height: 35px;
}
button:active, button:focus {
    outline: none;
}

/***********WPML************************/


.wpml-ls-legacy-list-horizontal.wpml-ls-statics-footer {
    margin: 0!important;
    background: #f64440!important;
    border-color: #f64440!important;
}

.wpml-ls-statics-footer a:visited {
    color: #000000;
}

.lang-switch {
    position: absolute;
    right: 50px;
    top: 3px;
}
.wpml-ls-legacy-dropdown-click {
    width: 80px!important;
}

.wpml-ls-legacy-dropdown-click a {
    background: transparent!important;
    border: none!important;
    color: #000!important;
    outline: none;
}

.wpml-ls-legacy-dropdown-click a:hover {
    background: transparent!important;
    border: none!important;
}
.wpml-ls-legacy-dropdown-click a:focus{
    outline: none;
}
.wpml-ls-legacy-dropdown-click .wpml-ls-current-language:hover>a {
    background: transparent!important;
}

.wpml-ls-legacy-dropdown-click .wpml-ls-sub-menu {
    border: none!important;
}


.rtl .wpml-ls-legacy-dropdown-click a.wpml-ls-item-toggle:after {
    right: 5px!important;
    left: inherit!important;
}

.rtl .wpml-ls-legacy-dropdown-click a.wpml-ls-item-toggle {
    padding-left: 10px!important;
    padding-right: calc(10px + .7em + .7em)!important;
}

.wpml-ls-legacy-list-vertical .wpml-ls-item a, .wpml-ls-legacy-list-vertical .wpml-ls-item a:focus {
    color: #000!important;
    outline: none;
}

.relative{
    position: relative;
}

/***************** Media Screen *************************/




@media screen and (max-width: 767px){
	#colorlib-main-nav{width:100vw;}
	.menu-show #colorlib-main-nav{height: 50% !important}
	#colorlib-main-nav .colorlib-table-cell{margin-top:0}
	#colorlib-main-nav ul li a{padding: 5px 0}
    
.elementor-12 .elementor-element.elementor-element-d39a1c1 > .elementor-element-populated {
    padding: 0px 0px 0px 0px!important;
}

.colorlib-nav-toggle{
   text-align: left;
}

#animation-block {
    margin: 0px 10px!important;
}

#single-project .elementor-inner-column > .elementor-element-populated {
    padding: 0px 0px 20px 0px!important;
}

.modal-content button.prev, .modal-content button.next {
    max-width: 20px;
    min-height: 20px;
    padding: 5px;
}
.modal-content button.prev {
    left: -30px;
}
.modal-content button.next {
    right: -30px;
}
.close {
    top: 5px;
    right: 5px;
    z-index:999;
}
}
body.home #page{height: 100vh; position:relative; background:#F64440;overflow: hidden}
.home #page header{height: 15%; position: static}
.home #page #content{height: 85%;}
body.home #page .home-wrap{background:transparent}
.home #animation-block {height: 100% !important}
.home .home-wrap{padding-top: 0; height:100%}
.show_two_line i{height: 0 !important}
.page-template-project .project-image:after,.page-template-project .project-image:before {
	z-index: 1000000
}
.page-template-project .project-filter span#show-filter.active_link,
.page-template-project .project-category ul li.active{text-decoration:underline !important; color: black !important;}
.page-template-project .project-header h2 {
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.page-template-project .project-category ul li a{font-weight: normal}
.page-template-project .project-category ul li a:hover,
.page-template-project .project-category li.active a,
.page-template-project .project-category li.active a:hover{
	background: none !important;
	text-decoration: underline;	
}
.page-template-project .project-category li a{border: none !important}
html:lang(he-IL) .page-template-project .project-category ul.nav.nav-tabs{padding-right:0}
.page-template-project .project-category ul li.active{display:none}
html:lang(he-IL) .page-template-project .project-category ul li{padding-left: 50px}
html:lang(he-IL) .page-template-project .project-category ul li a{padding-right: 0}
html:lang(en-US) .page-template-project .project-category ul.nav.nav-tabs{margin-left:0}
html:lang(en-US) .page-template-project .project-category ul li{padding-right: 50px}
html:lang(en-US) .page-template-project .project-category ul li a{padding-left: 0px}
.single-project #content{padding-top:0}
.single-project #content .elementor-inner{height: 100vh; overflow: auto;}
.single-project .project-detail-container {padding-bottom: 0; padding-top: 0}
.single-project .project-nav .navigation.post-navigation {margin-top:0}
.single-project{overflow:hidden}
.single-project #single-project .elementor-section-wrap{padding-top:92px;padding-bottom:70px}
.single-project .project-nav {padding-top: 0;position: absolute;bottom: 0;width: 100%;background:#ebebeb;z-index:1000}
html:lang(he-IL) .single-project .elementor-row .elementor-col-50:first-child{width: 41.66667%; padding-left:8.33333%}
html:lang(he-IL) .single-project .elementor-row .elementor-col-50:last-child{width: 58.33333%}
html:lang(en-US) .single-project .elementor-row .elementor-col-50:last-child{width: 41.66667%; padding-right:8.33333%; float: left}
html:lang(en-US) .single-project .elementor-row .elementor-col-50:first-child{width: 58.33333%; float: right}
.single-project h2.elementor-heading-title{font-size:20px !important}
.single-project ul li span.elementor-icon-list-text {color: #000000}
html:lang(en-US) .single-project .elementor-row{display: block}
html:lang(en-US) .single-project .elementor-row i.fa.fa-search{right: 16px; left:auto}
html:lang(en-US) .single-project .elementor-widget-wrap>.elementor-element.elementor-absolute{position: static}
html:lang(en-US) .single-project .elementor-widget:not(:last-child),
html:lang(en-US) .single-project .elementor-pagination-position-outside .swiper-container {margin-bottom:0}
html:lang(en-US) .single-project h2.elementor-heading-title{margin-bottom: 15px}
html:lang(en-US) .single-project .nav-previous a:after, html:lang(en-US) .single-project .nav-next a:before{display:none}
html:lang(en-US) .single-project .nav-previous a:before{
	content: "";
    background: url("/wp-content/uploads/2019/09/arrow-left.png");
    width: 25px;
    height: 13px;
    display: inline-block;
    background-size: cover;
    transition: all 0.5s;
    vertical-align: middle;
}
html:lang(en-US) .single-project .nav-next a:after{
	content: "";
    background: url(/wp-content/uploads/2019/09/arrow-right.png);
    width: 26px;
    height: 13px;
    display: inline-block;
    background-size: cover;
    transition: all 0.5s;
    vertical-align: middle;
}
html:lang(en-US) .single-project .nav-next a:hover{margin-right:5px}
html:lang(en-US) .single-project .nav-previous a:hover{margin-left:5px}
.page-id-12 h2.elementor-heading-title,.page-id-166 h2.elementor-heading-title{font-size:20px !important}
.single-project #colophon,
.page-template-project #colophon{display:none}
body.page-id-166{overflow:hidden}
body.page-id-166 #colophon{margin-top: 50px}
body.page-id-12 #colophon{margin-top: 50px}
.heading_title{font-size: 20px;font-weight:bold}
html:lang(he-IL) .heading_title{text-align:right}
.single-post-content h2.test{font-size:17px}
.post .single-post-image img{border:1px solid #000000}
.single-post-container hr {
    background-color: #000000;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em;
    width: 85%;
}
.single-post-container article.type-post .single-post-image::after{position:static}
.single-post-container p[dir='ltr']{width:75%;float:left}
.single-post-container .nav-previous{position:relative}
.single-post-container .nav-previous a{padding-left: 30px; display:block}
.single-post-container .nav-next{position:relative}
.single-post-container .nav-next a{padding-right: 30px; display:block}
.single-post-container .nav-next a:before{position:absolute;right:0;top:4px}
.single-post-container .nav-next a:hover:before,
.single-post-container .nav-next a:hover:after{right:15px}
.open_mobile{display: none !important}
.not_border a{border-bottom: none !important}
.open_mobile a{border-top:1px solid #F64440}
.single-post-container .navigation.post-navigation{clear:both}
.single-post-container .nav-previous a:hover,
.nav-previous a:hover
{
	margin-left: 0;
	text-decoration:underline
}
.nav-next a:hover{
	margin-right: 0;
	text-decoration:underline
}
@media screen and (max-width: 767px){
	.open_mobile{display: block !important}
	html:lang(he-IL) .page-template-project .project-category ul li{padding-left: 0px}
	html:lang(en-US) .page-template-project .project-category ul li{padding-right: 0px}
	.single-project .elementor-row .elementor-col-50{width: 100% !important; padding-left: 0 !important; padding-right:0}
}
















