header .colorlib-navbar-brand .colorlib-logo img {
    width: 120px;
}

.rtl{
    direction: rtl;
}
html:lang(en-US) .rtl{
    direction: ltr;
}
.home header {
    background: transparent;
}

.page-id-16 header, .page-id-174 header {
    background: transparent;
}

.home-wrap{
  background: #F64440;
  position: relative;
}

#colophon {
    width: 100%;
    text-align: center;
}


.page-id-16 #colophon, .page-id-174 #colophon{
    position: absolute;
    bottom: 30px;
    
}

.home #colophon {
    padding-bottom: 20px;
    padding-top: 20px;
    position: relative;
    bottom: 0;
    background: #f64440;
}

.footer-nav {
    direction: rtl;
}

.footer-nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    width: 100%;
    text-align: center;
}

.footer-nav ul li {
    display: inline-flex;
    flex-basis: 25%;
    justify-content: center;
    
}

.footer-nav ul li a {
    color: #000;
    outline: none;
    transition: all 0.5s;
}

.footer-nav ul li a:hover {
    color: #222;
    text-decoration: underline;
}
#content {
    padding-top: 92px;
}

.home #content {
    padding-top: 0;
}

.page-id-16 #content, .page-id-174 #content {
    padding-top: 0;
}


.about-hover{
    cursor: pointer;
}

.about-hover .elementor-image-box-description {
    display: none;
    transition: all 1s;
}

.about-hover:hover .elementor-image-box-description {
    display: block;
    margin-bottom: 30px;
}

/********* Project****************/
.project-filter span#show-filter {
    color: #f64440 !important;
    font-size: 18px;
    text-decoration: none;
    padding: 0px 5px;
}

.project-container {
    padding-top: 50px;
    padding-bottom: 100px;
    background: #ebebeb;
}



.project-grid h2 a {
    padding: 5px 0px;
    font-size: 16px;
    color: #000;
    text-align: right;
    display: block;
    outline: none;

}
html:lang(en-US) .project-grid h2 a{
    text-align: left;
}

.project-grid h2 a:hover {
    color: #000;
}

.project-grid {
    padding-bottom: 15px;
}


.project-detail-container {
    padding-top: 50px;
    padding-bottom: 100px;
    background: #ebebeb;
}

.project-detail .project-image img {
    width: 100%;
}


.project-header {
    text-align: right;
        padding-bottom: 50px;
}
html:lang(en-US) .project-header{
    text-align: left;
}

.project-image img {
    width: 100%;
}

.project-category a {
    color: #000;
    padding-left: 77px;
    outline: none;
    display: inline-block;
    vertical-align: top;
}

.project-category a:hover {
    color: #000;
}

.project-category {
    margin-top: 20px;
}

.project-filter span {
    text-decoration: underline;
    color: #000;
    display: inline-block;
    cursor: pointer;
    position: relative;
}

.project-header h2 {
    margin-bottom: 15px;
}

.project-filter span::after {
    content: "";
    background: url("/wp-content/uploads/2019/09/arrow-down.png");
    width: 10px;
    height: 6px;
    display: inline-block;
    background-size: contain;
    position: absolute;
    top: 10px;
    left: -15px;
    
}
html:lang(en-US) .project-filter span::after {
    left: 77px;
}

.project-category{
    display: none;
    border-bottom: 1px solid #0000000f;
    padding-bottom: 20px;
}


.project-category a:hover, .project-category a:active, .project-category a:focus {
    outline: none!important;
}

.project-category a:visited{
    color: #000!important;
}

.project-category a {
    /* display: none; */
    display: inline-block;
    float: left;
}
.project-category a:first-child {
    display: block;
}

.project-nav {
    padding-top: 30px;
}

.project-nav .nav-previous a {
    color: #000;
    font-size: 14px;
    outline: none;
}

.project-nav .nav-next a {
    color: #000;
    font-size: 14px;
    outline: none;
}

.nav-previous a:after {
    content: "";
    background: url("/wp-content/uploads/2019/09/arrow-left.png");
    width: 25px;
    height: 13px;
    display: inline-block;
    background-size: cover;
    margin-right: 10px;
    transition: all 0.5s;
    vertical-align: middle;
    
}

.nav-next a:before {
    content: "";
    background: url("/wp-content/uploads/2019/09/arrow-right.png");
    width: 26px;
    height: 13px;
    display: inline-block;
    background-size: cover;
    margin-left: 10px;
    transition: all 0.5s;
    vertical-align: middle;
    
}


.nav-previous a:hover {
    margin-left: 15px;
}

.nav-next a:hover {
    margin-right: 15px;
}



.project-nav .navigation.post-navigation {
    padding-top: 20px;
    border-top: 1px solid #d6d6d6;
        margin-top: 100px;
}



.project-image:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    border-top: 15px solid #ebebeb;
    border-left: 15px solid transparent;
    width: 0;
}

.project-image {
    position: relative;
}

.project-image:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 15px solid #ebebeb;
    border-right: 15px solid transparent;
    width: 0;
}

.project-image a:after {
    background: #d21d19bf;
    content: "";
    display: block;
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: all 0.5s;
}

.project-image a:hover:after {
    opacity: 1;
}

.wpcf7 form.sent .wpcf7-response-output {
    border-color: #46b450;
    color: #fff;
}



.page-template-project span.close.cursor.close-popup font {
    color: #fff;
    font-size: 35px;
}

/************** Post**************************/



.single-post-container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.single-post-container .container{
    max-width: 992px;
}

.single-post-container article {
    border-bottom: 1px solid #b7b5b5;
    padding-bottom: 40px;
    padding-top: 40px;
}

.single-post-container article .row {
    align-items: center;
}

.single-post-content h2 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
}


.single-post-content h2 a {
    color: #000;
    outline: none;
}

.single-post-content h2 a:hover {
    color: #222;
}
.single-post-content p {
    color: #000;
    font-size: 15px;
}

.single-post-image img {
    width: 100%;
}

.single-post-image {
    position: relative;
}

.single-post-container article .single-post-image::after {
    content: "";
    background: #d21d19bf;
    z-index: 999;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: all 0.5s;
    opacity: 0;
}
.single-post-container article:hover .single-post-image::after {
    opacity: 1;
}

.single-post-content p a {
    color: #000;
    font-size: 14px;
    text-decoration: underline;
    outline: none;
}
.single-post-container article:last-child {
    border-bottom: none;
}


.single-post-container article .row {
    align-items: center;
}

.single-post-detail-content h2 {
    font-size: 20px;
    font-weight: 600;
        line-height: 1.4;
        margin-bottom: 30px;
}

.single-post-detail-content h2 a {
    color: #000;
    outline: none;
}

.single-post-detail-content p {
    color: #000;
    font-size: 15px;
}

.single-post-detail-image img {
    width: 100%;
}



.single-post-detail-image {
    margin-bottom: 20px;
}

.entry-meta {
    font-size: 12px;
    color: #000;
    margin-bottom: 30px;
}

.entry-meta a {
   color: #000!important;
}

.single-post-detail-content p {
    font-size: 14px;
}

.single-post-container p {
    font-size: 14px;
    color: #000;
}

.single-post-container p a {
    color: #000;
    text-decoration: underline;
}

.single-post-container p a:hover {
    text-decoration: none;
}



.single-post-container .nav-previous a {
    color: #000!important;
    font-size: 14px;
    outline: none;
}

.single-post-container .nav-next a {
    color: #000!important;
    font-size: 14px;
    outline: none;
}

.single-post-container .nav-previous a:after {
    content: "";
    background: url("/wp-content/uploads/2019/09/arrow-left.png");
    width: 25px;
    height: 13px;
    display: inline-block;
    background-size: cover;
    margin-right: 10px;
    transition: all 0.5s;
    vertical-align: middle;
    
}

.single-post-container .nav-next a:before {
    content: "";
    background: url("/wp-content/uploads/2019/09/arrow-right.png");
    width: 26px;
    height: 13px;
    display: inline-block;
    background-size: cover;
    margin-left: 10px;
    transition: all 0.5s;
    vertical-align: middle;
    
}

.single-post-container .nav-previous a:hover {
    margin-left: 15px;
}

.single-post-container .nav-next a:hover {
    margin-right: 15px;
}
.single-post-container .navigation.post-navigation {
    padding-top: 20px;
    border-top: 1px solid #d6d6d6;
        margin-top: 100px;
}

.project-category ul li a:hover, .project-category li.active a, .project-category li.active a:hover {
    background: #f64440 !important;
    
}
.project-category ul li a {
    background: transparent;
    color: #000 !important;
    font-size: 16px;
    font-weight: 600;
   /* border: 2px solid #000;*/
    text-transform: capitalize;
    border-radius: 0 !important;
}
.project-filter .project-category {
    border-bottom: 1px solid #000000;
}
.project-category ul.nav.nav-tabs {
    border-bottom: none !important;
}


.modal-content button.next {
    position: absolute;
    top: 50%;
    right: -45px;
}

.modal-content button.prev {
    position: absolute;
    top: 50%;
    left: -45px;
}
.modal-content button.prev, .modal-content button.next {
    background: #fff;
    border: 0;
    border-radius: 25px;
    color: #000;
    min-height: 35px;
}
button:active, button:focus {
    outline: none;
}

/***********WPML************************/


.wpml-ls-legacy-list-horizontal.wpml-ls-statics-footer {
    margin: 0!important;
    background: #f64440!important;
    border-color: #f64440!important;
}

.wpml-ls-statics-footer a:visited {
    color: #000000;
}

.lang-switch {
    position: absolute;
    right: 50px;
    top: 3px;
}
.wpml-ls-legacy-dropdown-click {
    width: 80px!important;
}

.wpml-ls-legacy-dropdown-click a {
    background: transparent!important;
    border: none!important;
    color: #000!important;
    outline: none;
}

.wpml-ls-legacy-dropdown-click a:hover {
    background: transparent!important;
    border: none!important;
}
.wpml-ls-legacy-dropdown-click a:focus{
    outline: none;
}
.wpml-ls-legacy-dropdown-click .wpml-ls-current-language:hover>a {
    background: transparent!important;
}

.wpml-ls-legacy-dropdown-click .wpml-ls-sub-menu {
    border: none!important;
}


.rtl .wpml-ls-legacy-dropdown-click a.wpml-ls-item-toggle:after {
    right: 5px!important;
    left: inherit!important;
}

.rtl .wpml-ls-legacy-dropdown-click a.wpml-ls-item-toggle {
    padding-left: 10px!important;
    padding-right: calc(10px + .7em + .7em)!important;
}

.wpml-ls-legacy-list-vertical .wpml-ls-item a, .wpml-ls-legacy-list-vertical .wpml-ls-item a:focus {
    color: #000!important;
    outline: none;
}

.relative{
    position: relative;
}

/***************** Media Screen *************************/




@media screen and (max-width: 767px){
    
.elementor-12 .elementor-element.elementor-element-d39a1c1 > .elementor-element-populated {
    padding: 0px 0px 0px 0px!important;
}

.colorlib-nav-toggle{
   text-align: left;
}

#animation-block {
    margin: 0px 10px!important;
}

#single-project .elementor-inner-column > .elementor-element-populated {
    padding: 0px 0px 20px 0px!important;
}

.modal-content button.prev, .modal-content button.next {
    max-width: 20px;
    min-height: 20px;
    padding: 5px;
}
.modal-content button.prev {
    left: -30px;
}
.modal-content button.next {
    right: -30px;
}
.close {
    top: 5px;
    right: 5px;
    z-index:999;
}
}




















